body {
    background-color: #d3d3d3;
}

.page-wrapper {
    margin-bottom: 5rem;
}

.header {
    padding: 3rem 0 1.5rem 0;
    text-align: center;
}

.my-photo {
    border-radius: 50%;
    display: block;
    margin: auto;
}

.header p {
    padding: 0 29%;
    font-size: 1.2rem;
}

.my-projects {
    text-align: center;
}

a {
    text-decoration: none;
}

.projects-wrapper {
    text-align: center;
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.project-container {
    flex: 1;
    border: 1px solid gray;
    background-color: white;
    width: 20%;
    margin: 1rem 4.4rem 1rem 0;
}

.project-container{
    text-decoration: none;
}

.project-container:hover {
    background-color: #F0F0F0;
}

.content {
    padding: 1rem;
}

.icon {
    height: 6.5rem;
    width: 5rem;
    padding-bottom: 1rem;
}

.language {
    display: inline-block;
    font-weight: bold;
    border-radius: 1rem;
    margin: 0.2rem;
}

span {
    padding: .1rem;
}

.language span{
    border-radius: 1rem;
    margin: 0;
}

.description {
    font-size: 1rem;
    padding: 0 10%;
}

.footer {
    padding-top: 1rem;
    text-align: center;
}

.footer a {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 0.5rem;
}

.linkedin {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .3rem;
}

.email {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .3rem;
}