.nav-link {
    color: #a2a2a2 !important;
}

.nav-link:hover {
    color: black !important;
    border-bottom: 1px solid #ddd;
}

.nav-link-focus {
    color: black !important;
    border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 576px) {
    #header {
        margin-top: 3rem!important;
    }
    #navBar {
        margin-top: 1rem!important;
        margin-bottom: 1rem!important;
    }
    .nav-link h3 {
        font-size: 1.3rem;
        margin-top: -.5rem;
        margin-bottom: 0;
    }
    .nav-link-focus {
        border-style: hidden;
    }
    .nav-link:hover {
        border-style: hidden;
    }
    .nav-link-focus h3 {
        font-weight: bold;
    }
}

@media (prefers-color-scheme: dark) {
    #header {
        color: #ddd;
    }
    .nav-link:hover {
        color: #ddd !important;
    }
    .nav-link-focus h3 {
        color: white;
    }
}