* {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
}

.App {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 92%;
}

.section-header {
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3.5rem;
  position: relative;
  color: #111;
}

.section-subheader {
  display: block;
  text-align: center;
  color: #555;
  font-size: 2rem;
  font-weight: 500;
  max-width: 80rem;
  margin: auto;
  line-height: 1.6;
}
