@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.App {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.nav-link {
    color: #a2a2a2 !important;
}

.nav-link:hover {
    color: black !important;
    border-bottom: 1px solid #ddd;
}

.nav-link-focus {
    color: black !important;
    border-bottom: 1px solid #ddd;
}

.skill-icon {
    height: 6rem;
}

.card:hover {
    background-color: #e4e4e4;
}

a {
    color: black !important;
    text-decoration: none !important;
}

@media screen and (max-width: 576px){
    #header {
        margin-top: 3rem!important;
    }
    
    #navBar {
        margin-top: 1rem!important;
        margin-bottom: 1rem!important;
    }

    .nav-link h3 {
        font-size: 1.3rem;
        margin-top: -.5rem;
        margin-bottom: 0;
    }

    .nav-link-focus {
        border-style: hidden;
    }

    .nav-link:hover {
        border-style: hidden;
    }

    .nav-link-focus h3 {
        font-weight: bold;
    }

    #tabHeader {
        margin-bottom: 1rem!important;
    }

    #bioDiv {
        display: block!important;
    }

    #myPhoto {
        height: 50%;
        width: 50%;
        margin-bottom: 1rem;
    }

    #bio {
        text-align: center!important;
    }

    #sendEmail {
        width: 100%;
    }
}