@media screen and (max-width: 576px) {
    #bioDiv {
        display: block!important;
    }
    #bio {
        text-align: center!important;
    }
}

@media (prefers-color-scheme: dark) {
    #bio-text {
        color: #ddd;
    }
}