.mySkills {
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 3rem;
}

li {
    margin: 1rem 3rem;
    display: block;
}

li img {
    height: 7rem;
    width: 7rem;
}

@media screen and (max-width: 760px) {
    li img {
        height: 2rem;
        width: 2rem;
    }
    li h3 {
        font-size: .7rem;
    }

    ul {
        justify-content: center;
        margin: 0 3rem;
    }
}