.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem 6rem;
}
.my-photo {
    min-width: 193px;
    max-height: 245px;
}

.headerText {
    margin: 1rem;
    width: 50%;
}